@import "./styles/vars.css";
@import "./styles/inputs.css";

@font-face {
  font-family: plex;
  src: url("./fonts/plex.woff2") format("woff2-variations");

  font-weight: 125 2000;
  font-stretch: 75% 125%;
  font-style: normal;
}
html {
  font-family: plex;
  background: var(--dark_2);
  color: var(--light_2);
}

* {
  box-sizing: border-box;
}

.devider {
  height: 3px;
  background: var(--gradient);
  width: 100%;
  margin: 5px 0px;
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow_0);
  background: var(--dark_3);
  min-width: 300px;
  width: 100%;
  aspect-ratio: 1.5/1;
  display: grid;
  gap: var(--gap);
  padding: calc(var(--gap) * 2) var(--gap);
}

.page_view {
  display: grid;
  justify-self: center;
  max-width: 600px;
  padding: var(--gap);
  height: 100%;
  width: 100%;
  gap: var(--gap);
  grid-template-areas:
    "info"
    "content";
  grid-template-rows: auto 1fr;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--red);
  margin: 0;
}
