.input {
  border-radius: var(--radius);
  height: 40px;
  transition: 0.2s ease-in-out;
  border: none;
  outline: 1px solid var(--gradient);
  padding: 4px 8px;
  box-sizing: border-box;
  &:where(button, input[type="button"]) {
    background: var(--gradient);
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid color-mix(in oklab, var(--gradient), transparent 40%);
  }
  &:hover {
    outline: 2px solid color-mix(in oklab, var(--gradient), transparent 60%);
  }
}

.label {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: calc(var(--gap) / 2);
}
