:root {
  --dark_0: #4c566a;
  --dark_1: #434c5e;
  --dark_2: #3b4252;
  --dark_3: #2e3440;

  --light_0: #d8dee9;
  --light_1: #e5e9f0;
  --light_2: #eceff4;

  --frost_0: #8fbcbb;
  --frost_1: #88c0d0;
  --frost_2: #81a1c1;
  --frost_3: #5e81ac;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;

  --gradient: linear-gradient(
    to right,
    var(--frost_0),
    var(--frost_1),
    var(--frost_2),
    var(--frost_3)
  );
}

:root {
  --gap: 1rem;
  --radius: 5px;
  --shadow_0: 0px 0px 2px 1px var(--dark_3);
}
